.table-users {
	margin: 0 auto;
	margin-top: 100px;
}

th {
	background: #8e9ac9;
	color: #fff;
}

th,
td {
	border: 1px solid #000;
	padding: 5px;
	text-align: center;
	max-width: 200px;
	border-radius: 3px;

}

.btn {
	color: #eee;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	padding: 5px 20px;
	margin-top: -3px;
	margin-bottom: -3px;
}

.btn-primary {
	background: #a4aed3;
}

.btn-primary:hover {
	background: #8e9ac9
}

.btn-danger {
	background: #ec6f77;
	margin-left: -5px;
}

.btn-danger:hover {
	background: #c45c63;
}

.tdbtn {
	border-style: hidden;
}

.page-container {
	display: flex;
	justify-content: center;
}

.btn-page {
	margin: 20px;
}

.page-p {
	font-weight: 500;
	font-size: 16px;
}

.popup {
	color: #fff;
	font-weight: 500;
	width: 280px;
	height: 50px;
	position: relative;
	text-align: center;
	padding: 14px 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: auto;
	animation: popup 0s ease-in 1.5s;
	animation-fill-mode: forwards;
}

@keyframes popup {
	to {
		visibility: hidden;
	}
}


.popup-success {
	background-color: #6daa48;
}

.popup-failed {
	background-color: #c45c63;
}
