.table-users {

	margin: 0 auto;
	margin-top: 100px;

}

 th {
	background: #eee;
 }

 th, td {
	border: 1px solid;
	padding: 5px;
	text-align: center;
	max-width: 200px;

}

.btn {
	color: #eee;
	cursor: pointer;
	display:inline-block;


}

 .btn-primary {
	background: #8e9ac9;
}
.btn-primary:hover {
	background: #707aa1
}

.btn-danger {


	background: #ec6f77;
}
.btn-danger:hover {
	background: #c45c63;
}
