.container {
	max-width: 300px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 15px;
	margin: 0 auto;
	margin-top: 100px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 8px;
	resize: vertical
}

input[type=submit] {
	background-color: #8e9ac9;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	margin-top: 8px;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
	background-color: #6a64c1;
}


input::placeholder {
	color: #ccc;
}

input#birthDay {
	color: #333;
}

.btn-container {
	display: flex;
	justify-content: space-between;

}

#submit-update {
	background-color: #7ec750;
	color: white;
	padding: 10px 20px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
	height: 40px;
}

#submit-update:hover {
	background-color: #6daa48;
}

.prev-btn {
	background-color: #b1b4bf;
	color: white;
	padding: 10px 20px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
	height: 40px;
	text-align: center;
}

.prev-btn:hover {
	background-color: #8b8e97;
}

.popup {
	color: #fff;
	font-weight: 500;
	width: 300px;
	height: 50px;
	position: relative;
	text-align: center;
	padding: 14px 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: auto;
	animation: popup 0s ease-in 1.5s;
	animation-fill-mode: forwards;
}

@keyframes popup {
	to {
		visibility: hidden;
	}
}


.popup-success {
	background-color: #6daa48;
}

.popup-failed {
	background-color: #c45c63;
}
